---
import { SITE_TITLE, SITE_SUBTITLE, SITE_DESCRIPTION } from '../../consts';
import PageLayout from '@layouts/PageLayout.astro';
import FormattedDate from '@components/FormattedDate.astro';
import Heading from '@components/solid/blocks/Heading';
import { getBlogPosts } from '@accessors/astro/blogAccessor';
import BlogPostsList from '@src/components/BlogPostsList.astro';

const posts = await getBlogPosts();

---

<PageLayout
	title={SITE_TITLE}
	subTitle={SITE_SUBTITLE}
	description={SITE_DESCRIPTION}
	bannerMessage='🎺 Upcoming Post: "Setting up Dapr & NATS Locally For Fast Distributed Messaging" 🎺'
	}
>
	<section class="flex justify-center">
		<BlogPostsList posts={posts} />
	</section>
</PageLayout>
