---
import { SITE_TITLE, SITE_SUBTITLE, SITE_DESCRIPTION } from '../../consts';
import Layout from '@layouts/BaseLayout.astro';
import BlogPostsList from '@src/components/BlogPostsList.astro';
import { GET, type GetBlogPostsItem } from '../api/blogPosts';
import type { PaginatedResponse } from '@src/api/handleRequest';


const response = await GET(Astro);
const json = await response.json() as PaginatedResponse<GetBlogPostsItem>;
const posts = json.data;
---

<Layout
	title={SITE_TITLE}
	subTitle={SITE_SUBTITLE}
	description={SITE_DESCRIPTION}
	bannerMessage='🎺 Upcoming Post: "Setting up Dapr & NATS Locally For Fast Distributed Messaging" 🎺'
	}
>
	<section class="flex justify-center max-w-6xl">
		<BlogPostsList posts={posts} />
	</section>
</Layout>
