---
import PageLayout from '../layouts/PageLayout.astro';
import {Heading, Paragraph } from "../components/solid/blocks";
import { SITE_TITLE, SITE_SUBTITLE, SITE_DESCRIPTION } from '../consts';
---

<PageLayout
	title={SITE_TITLE}
	subTitle={SITE_SUBTITLE}
	description={SITE_DESCRIPTION}
>
	<article>
		<Heading size="2xl">Hi, my name is... Jackson 👋</Heading>

		<section>
			<Paragraph>
				I have a passion for learning new technologies and techniques in
				Ways of Working, creating high performing cross-functional teams, mentoring and
				teaching others.
			</Paragraph>
			<Paragraph>
				I've had many different roles in Software Development, each one providing
				new perspective, best practices and engineering excellences, to create great
				software to solve customer problems.
			</Paragraph>
		</section>
	</article>
</PageLayout>
