---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<article class="[&>img]:max-h-80 [&>img]:relative">
	<div class="hero-image">
		{heroImage && <img class="" src={heroImage} alt="" />}
	</div>
	<div class="prose">
		<div class="title">
			<div class="date">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<h1>{title}</h1>
			<hr />
		</div>

		<div class="prose lg:prose-xl">
			<slot />
		</div>
	</div>
</article>
