---
import { sortedAllStaticRoutes } from '../routes.ts';
import NavigationLink from './solid/blocks/NavigationLink.tsx';

const today = new Date();
---

<div class="flex max-md:flex-col sm:px-10 mx-4">
	<div class="flex flex-col row-end-auto m-4 md:order-2 max-w-xs">
		{sortedAllStaticRoutes()
			.map(route => (
				<NavigationLink
					href={route.link}
					className="first:pt-0 last:pb-0 py-3 pr-14 text-sm border-b last:border-0"
					getCurrentPath={() => Astro.url.pathname as string}
				>
					&rarr;&nbsp;&nbsp;{route.text}
				</NavigationLink>
			))
		}
	</div>
	<p class="md:order-1 max-md:pt-3 grow select-none">JBrLloyd © {today.getFullYear()}</p>
</div>
