---
import NavBar from './NavBar.astro'
import NavigationLink from './solid/blocks/NavigationLink.tsx'

type Props = {
  title: string
  subTitle: string | undefined
};

const { title, subTitle } = Astro.props;

---

<header>
	<div class="py-4 sm:py-8 mx-14 max-sm:sticky flex flex-col justify-center items-center">
		<div class="max-w-[75%] text-center">
			<h1 class="text-4xl font-bold max-sm:text-2xl transition-all duration-300">
				<NavigationLink href="/" getCurrentPath={() => Astro.url.pathname}>
					{title}
				</NavigationLink>
			</h1>
			{subTitle && <p class="text-base pt-4 italic subpixel-antialiased max-sm:hidden">{subTitle}</p>}
		</div>
	</div>
	<NavBar />
	<figure class="bg-salmon h-48"></figure>
</header>
