---
import NavigationLink from './solid/blocks/NavigationLink.tsx'
import { MobileMenu } from './solid/MobileMenu.tsx'
import { sortedPrimaryStaticRoutes } from '../routes';

---

<nav class="flex flex-row gap-x-6 border-t h-14">
  <div class="relative md:hidden justify-normal self-center">
    <MobileMenu client:only="solid-js" />
  </div>
  <div class="max-md:hidden self-center mx-auto h-full">
    <div class="text-lg select-none h-full inline-flex flex-row items-center align-middle">
      <div>&lsaquo;</div>
      {sortedPrimaryStaticRoutes()
        .map((route, idx, sortedRoutes) => (
          <>
            <NavigationLink
              className="text-sm"
              href={route.link}
              getCurrentPath={() => Astro.url.pathname as string}
            >
              <div class="py-4 px-7">{route.text}</div>
            </NavigationLink>
            {(idx + 1 !== sortedRoutes.length) && <div>&#8260;</div>}
          </>
        ))
      }
      <div>&rsaquo;</div>
    </div>
  </div>
</nav>