---
import { NavigationLink } from "@solidComponents/blocks";
import { sortedPrimaryStaticRoutes } from '../routes';
---

<div class="text-lg select-none inline-flex flex-row items-center align-middle mt-2">
  <div>&lsaquo;</div>
  {sortedPrimaryStaticRoutes()
    .map((route, idx, sortedRoutes) => (
      <>
        <NavigationLink
          className="text-sm"
          href={route.link}
          getCurrentPath={() => Astro.url.pathname as string}
        >
          <div class="px-7 py-3">{route.text}</div>
        </NavigationLink>
        {(idx + 1 !== sortedRoutes.length) && <div>&#8260;</div>}
      </>
    ))
  }
  <div>&rsaquo;</div>
</div>