---
type Props = {
  tag: string
}

const { tag } = Astro.props
---
<div class="rounded-full border px-2 py-0.5 text-white border-salmon bg-salmon/80
  w-fit h-fit font-bold capitalize"
>
  {tag}
</div>