---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';

type Props = {
  title: string
  subTitle: string | undefined
  description: string
};

const { title, subTitle, description } = Astro.props;
const isSideDrawerOpen = false;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>

    <section class={
      "flex flex-col min-h-screen bg-[#fafafa] overflow-y" + (isSideDrawerOpen
        ? ' overflow-y-hidden [@media(max-width:767px)]:scrollbar-hide'
        : '')}>

      <Header title={title} subTitle={subTitle} />

      <main class="flex flex-col lg:flex-row pb-3 justify-center">

        <div
          class="
            bg-white
            py-5
            sm:-mt-10 sm:mx-8
            sm:border-2 sm:border-solid
            grow
            min-w-full max-w-4xl
            sm:min-w-[36rem] md:min-w-[42rem]
            transition-all duration-300 delay-50"
        >
          <div class="sm:mx-6 max-sm:mx-4">

            <slot />

          </div>
        </div>

        <div class="sm:p-5 max-w-xs relative grow-0 text-center lg:self-start self-center">
          <Sidebar />
        </div>

      </main>

      <footer class="flex-1 bg-white py-3 border-t">
        <Footer />
      </footer>

    </section>

	</body>
</html>
